{% extends "layout.html" %}
  {% block content %}
  <div id="top">
    <h1>Jump to:</h1>
    <a href="#class_plots">Class-wide plots</a>
    {% if dict_of_plots["topic_plots"]|length >0 %}
    <br>
    <a href="#topic_plots">Topic-focused plots</a>
    {% endif %}
    {% if dict_of_plots["student_plots"]|length >0 %}
    <br>
    <a href="#student_plots">Individual student plots</a>
    {% endif %}
    <br>
    <br>
  </div>

  <div id=flags>
    Students who especially need help: {{dict_of_plots["worst_students"]}}
    <br>
    Questions that were especially challenging: {{dict_of_plots["hardest_qs"]}}
    <br>
    <br>
  </div>

  <div id=plots>
    <h2 id=class_plots>Class-wide plots</h2>
    {% for plot in dict_of_plots["class_plots"] %}
    <img src="data:image/png;base64,{{plot}}"\>
    {% endfor %}
    <br>
    <a href="#top">Return to top</a>
    <br>
    <br>

    {% if dict_of_plots["topic_plots"]|length >0 %}
    <h2 id=topic_plots>Topic-focused plots</h2>
    {% for plot in dict_of_plots["topic_plots"] %}
    <img src="data:image/png;base64,{{plot}}"\>
    {% endfor %}
    <br>
    <a href="#top">Return to top</a>
    <br>
    <br>
    {% endif %}

    {% if dict_of_plots["student_plots"]|length >0 %}
    <h2 id=student_plots>Individual student plots</h2>
    {% for plot in dict_of_plots["student_plots"] %}
    <img src="data:image/png;base64,{{plot}}"\>
    {% endfor %}
    <br>
    <a href="#top">Return to top</a>
    {% endif %}
  </div>

{% endblock %}
