{% extends "layout.html" %}
  {% block content %}
  <h1>Upload new File</h1>
  <form method=post enctype=multipart/form-data onsubmit="alert('Please be patient, as it will take about 5 seconds per student to process once you click \'ok.\'')">
    Use the sample: <input type="checkbox" name = "checked">
    <br>
    Or, upload your own PDF: <input type=file name=file>
    <br>
    DPI of scan: <input type=number name="dpi" min="72" max="100" value="72">
    <br>
    Number of columns of questions: <input type=number name="ncol" min="1" max="5" value = "1">
    <br>
    Number of rows of questions: <input type=number name="nrows" min="1" max="10", value="10">
    <br>
    Direction that questions are ordered:
    <input type="radio" name="direction" value="down" checked="checked" > Down
    <input type="radio" name="direction" value="across"> Across
    <br>
    Number of questions: <input type=number name="nquestions" min="1" max="50", value="10">
    <br>
    <br>
    Topics:
  <br>
    <em>This is optional. If you would like to add topic annotations, use the following format. "topic name: question numbers; ..." See default text as an example</em>
    <br>
     <input type=text name="topics" value="sqrt:1,3; pemdas:2,4; bones:5,6; parts of a number:7,8; cells:9,10" cols="40"
     rows="5"
     style="width:500px">
    <br>
          <br>
    Class identifier:
  <br>
    <em>This is optional. If you would like to compare your class's performance over time, enter a unique identifier. For example, why not your Firstname_Lastname_classname, like Holly_Johnsen_AlgebraI ? Write it down for next time!</em>
    <br>
     <input type=text name="uniqueId" value="Holly_Johnsen_AlgebraI" >
    <br>
    <br>
    <input type=submit value=Submit>
  </form>
  <br>
  <br>
  <a href="https://drive.google.com/file/d/1l5f-XIPj1LwBKsYKMH6YRvwOUWK7Mgvl/view?usp=sharing" target="_blank">Curious what the sample file looks like? Check it out here</a>
{% endblock %}
